<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">Activación de EventManager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Estimado
        </p>
        <p th:text="#{email.creation.text1}">
            Su cuenta en EventManager ha sido creada. Por favor, haga clic en el siguiente enlace para activarla:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">Equipo de EventManager.</em>
        </p>
    </body>
</html>
